nav {
	color: white;
}

nav .container-fluid {
	background-color: teal;
	color: white;
}

nav .navbar {
	/* background-color: teal; */
	color: white;
	padding: 0px;
	margin: 0px;
}

.navbar {
	/* background-color: teal; */
	padding: 0px;
	margin: 0px;
}

.container {
	padding: 0px;
	max-width: 100%;
}

.container-sm {
	/* background-color: purple; */
	margin: 0px;
	padding: 0px;
}

#intro {
	background-image: url("images/mike+1-2880w.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	padding: 10px 20px;
	position: relative;
}

#intro h1 {
	margin: auto;
	color: teal;
	padding: 10px 10px;
	text-shadow: 0px 0px 15px antiquewhite, 0px 0px 15px antiquewhite, 0px 0px 15px antiquewhite;
}

#intro p {
	margin: 0;
	padding: 0 10px;
}

#services {
	background-color: rgba(250, 235, 215, 0.8);
	margin: 10px 10px;
	padding: 10px 10px;
	width: 98%;
}

#services img {
	width: 30%;
	padding: 20px;
}

#services ul {
	columns: 4;
}

#CTA {
	background-color: teal;
	color: white;
	margin: 0;
	padding: 20px 30px;
}

#CTA h3 {
	color: white;
}

#CTA p {
	color: black;
}

section {
	padding: 20px 30px;
}

section:nth-of-type(odd) {
	background-color: antiquewhite;
}

section:nth-of-type(even) {
	background-color: rgba(0, 128, 128, .25);
}

div {
	margin: 0px;
	padding: 0px;
}

#what-we-do {
	margin: 0;
}

#card-container {
	display: flex;
	flex-wrap: wrap;
	background-color: antiquewhite;
	margin: auto;
	padding: -5px 0px 20px 10px;
}

.card {
	margin-right: 20px;
	margin-bottom: 20px;
}

.card-title {
	color: teal;
}

.card p {
	padding-bottom: 10px;
}

h2,
h3 {
	padding: 0;
	color: teal;
}

h3 {
	color: black;
}

h5 {
	padding-top: 10px;
}

.h3 {
	color: black;
}

#testimonials-container {
	margin: 0px;
}

#testimonials {
	color: teal;
	columns: 3;
	padding: 10px 20px;
	margin: 10px;
}

blockquote p {
	font-size: 1.5rem;
	padding: 0px 0px;
}

figcaption {
	font-size: 1.25em !important;
	line-height: 3rem;
}

.btn-primary {
	background-color: teal;
}

.btn-primary:hover {
	background-color: antiquewhite;
	color: teal;
}

ul {
	columns: 2;
}

li {
	color: teal;
	font-size: 2em;
	padding: 0 20px;
	list-style-type: none;
	/* height: 12em; */
}

.row {
	margin: 0px;
	padding: 0px;
	padding-top: 20px;
	padding-right: 20px;
}
.col {
	/* background-color: purple; */
	margin: 0px;
	padding: 0px;
	padding-right: 20px;
}

.mb-3 {
	padding-left: 0px;
	padding-right: 40px;
}

address {
	padding: 20px 40px;
	background-color: teal;
	color: white;
}

address a {
	color: white;
}

/* ******************** Media Queries ******************** */

@media (max-width: 576px) {
	body {
		font-size: .75rem;
	}

	#services {
		width: 94%;
	}

	#services ul {
		columns: 1;
		padding-top: 10px;
	}

	#intro {
		padding: 0;
	}

	#testimonials {
		columns: 1;
		padding: 0px 10px;
	}
}

@media (min-width: 577px) and (max-width: 992px) {
	#services ul {
		columns: 2;
	}

	#testimonials {
		columns: 2;
		padding: 0px 10px;
	}
}

@media (min-width: 993px) and (max-width: 1200px) {
	#services ul {
		columns: 3;
	}
}
